.card {
  border-radius: 8px;
  overflow: hidden;
}
.card-content {
  padding-top: 10px;
}

  
  .card-title {
    margin: 0 0 8px;
    font-size: 1.5em;
  }
  
  .card-subtitle {
    margin: 0 0 16px;
    color: #555;
  }
  
