.detail-view {
    margin: 16px 0;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .detail-title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .detail-content {
    line-height: 1.6;
  }
  
  
  .detail-subtitle {
    font-size: 1.2em;
    margin-bottom: 16px;
    color: #555;
  }
  
  